.jogos-grid {
  display: grid;
  grid-template-columns: 390px 390px 390px;
  grid-gap: 50px;
  margin-top: 50px;
  justify-content: center;
}

.select-container {
  margin-left: 355px;
  margin-top: 30px;
}