// main {
//   padding: 0 0.625rem;
//   margin-top: 1.25rem;
// }

h2 {
  margin-top: 30px;
  text-align: center;
}

.section-product {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
    
  .container-product {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
    .card {
      border: none;
      // display: flex;
      // flex-direction: column;
      background-color: #eeeeee;
      padding: 20px 50px;

      img {
        width: 90%;
        max-width: 180px;
        height: 100%;
        // max-height: 245px;

        margin: 0 10px auto;
      }
      .box-info-product {
        padding: 10px 0;
        text-align: center;
        // background-color: #eeeeee;

        strong {
          display: block;
          // font-size: 1rem;
        }

        button {
          width: 100%;
          background-color: var(--purple);
          color: var(--white);
          transition: background-color 0.5s;

          &:hover {
            background-color: var(--purple-dark);
          }
        }
      }
    }
  }
}

/*************** TAMANHO DAS FONTES ***************/

@media (min-width: 0px) and (max-width: 425px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

/*************** RESPONSIVIDADE DO CONTAINER DOS PRODUTOS ***************/

@media (min-width: 0px) and (max-width: 550px) {
  #poster {
    height: 15.625rem;
  }
}

@media (min-width: 551px) and (max-width: 949px) {
  #poster {
    height: 18.75rem;
  }
}
