/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap'); */
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

:root {
  --text-color: #333333;
  --green: #33cc74;
  --red: #cc3434;
  --white: #ffffff;
  --purple: #663399;
  --purple-dark: #452366;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0.4375rem;
}

.container {
  max-width: 1100px;
  width: 100%;

  margin: 0 auto;
}
.main-header{
  position: fixed;
}
