.sobre {
    background-color:#eeeeee;
    margin: 5vw;
    padding: 2vh 2vw;

    h3{
        margin: 10px 0;
        text-align: center;
    }

    .lista {
        margin-left: 5vw;
    }

    p {
        margin: 0 5vh;
        width: 90%;
    }
}