.jogo-detalhe-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
}

.card {
  width: 200px;
  height: 250px;
  margin: auto;
}

p {
  margin: auto;
  width: 400px;
  margin-top: 10px;
}